@import 'https://fonts.googleapis.com/css?family=Dancing+Script';
@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
body{
	font-family: 'Lato', sans-serif;
	background: #ee0979; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #ee0979 , #ff6a00); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #ee0979 , #ff6a00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
h1{
	color: white;
	font-size: 4vw;
}
.container1{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
	text-align: center;
	margin-top: 2%;
}
.container{
	/* display: grid; */
	align-items: center;
	text-align: center;
	margin-top: 7%;
	width: 90%;
	margin: auto;
	padding: 10px;
}
.me{
	font-family: 'Dancing Script', cursive;
	color: black;
	position: fixed;
	bottom: 10px;
	right: 10px;
}
p{
	height: 200px;
	font-size: 3vw;
	color: white;
	text-shadow: 1px 1px 2px black;
}
button{
	text-align: center;
	padding-top: 50px;
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	width: 200px;
	color: white;
	text-shadow: 1px 1px 2px black;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: inherit;
	cursor: pointer;
	cursor: hand;
	outline: none;
}
.button:hover {
	color: #F5F5F5;
	transition: all 0.4s;
	-webkit-transition: color 0.8s;
	-moz-transition: color 0.8s;
		
}
@media screen and (max-width: 400px){
     h1{
     	font-size: 2em;
     	font-weight: 700;
     }
     p{
     	font-size: 1em;
     	font-weight: 700;
     	height: 150px;
     	text-shadow: none;
     }
    .container{
		margin: 10px;
		margin-top: 25%;
		height: 210px;
	}
}
@media screen and(min-width: 401px) and (max-width: 767px){
	.container{
		margin-top: 25%;
		width: 90%;
		height: 250px;

	}
     h1{
     	font-size: 1em;
     	font-weight: 700;
     }
     p{
     	font-size: 1em;
     	font-weight: 700;
     	height: 150px;
     	text-shadow: none;
     }
}
/********** Small devices only **********/
@media screen and (min-width: 768px) and (max-width: 991px) {
     
}
/********** Medium devices only **********/
@media screen and(min-width: 992px) and (max-width: 1199px){
     h1{
     	font-size: 4vw;
     }
}
/********** Large devices only **********/
@media screen and(min-width: 1200px){
     h1{
     	font-size: 4vw;
     }
}
